<div class="container">
        <div class="page-header">
          <h1>Юридическая поисковая система</h1>
        </div>
        <p class="lead">
          <div id="wrap">
          <ul>
            <li>Официальное название компании с наименованием формы собственности</li>
            <li>Дата регистрации</li>
            <li>Дата исключения из ЕГРЮЛ или ликвидации</li>
            <li>Адрес компании</li>
            <li>ФИО директора</li>
            <li>ФИО учредителей</li>
          </ul>
          </div>
          <%= form_tag do_search_path, class:"form-inline", id: "search_form", role: "form" do %>
            <div class="form-group">
              <%= number_field_tag :inn, nil,placeholder: "ИНН", class: "form-control" %>
            </div>
            <div class="form-group" id="captcha_img_div">
               <img src="" id="captcha_img" alt="" />
            </div>
            <div class="form-group" id="captcha_div">
              <%= text_field_tag :captcha, nil,placeholder: "Код",maxlength:4,size:4, class: "form-control" %>
            </div>
            <%= submit_tag "Поиск", class: "btn btn-default" %>
          <% end %>
        </p>
   
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" id="item-name">Поиск..</h3>
          </div>
          <div class="panel-body" id="info-panel">
            <div>
              <dl>
                <dt>Адрес
                  <dd id="item-address"></dd>
                </dt>
                <dt>Дата включения в базу
                  <dd id="item-date"></dd>
                </dt>
                <dt>Сайт
                  <dd><a id="item-site" href="#"></a></dd>
                </dt>
                <dt>
                  <dd id="item-"></dd>
                </dt>
                <dt>
                  <dd id="item-"></dd>
                </dt>
              </dl>
            </div>
            <div id="inn-list"><h4>ИНН+[номер ИНН]</h4><ul></ul></div>
            <div id="address-list"><h4>адрес_[название компании]_[номер ИНН]</h4><ul></ul></div>
            <div id="mailto-list"><h4>mailto_[название компании]_[номер ИНН]</h4><ul></ul></div>
            <div id="email-list"><h4>email_[название компании]_[номер ИНН]</h4><ul></ul></div>
            <div id="mailru-list"><h4>mail.ru_[название компании]_[номер ИНН]</h4><ul></ul></div>
            <div id="gmail-list"><h4>gmail.com_[название компании]_[номер ИНН]</h4><ul></ul></div>
            <div id="rambler-list"><h4>rambler.ru_[название компании]_[номер ИНН]</h4><ul></ul></div>
            <div id="yandex-list"><h4>yandex.ru_[название компании]_[номер ИНН]</h4><ul></ul></div>
            <div id="credit-list"><h4>долги_[название компании]_[номер ИНН]</h4><ul></ul></div>
            <div id="court-list"><h4>суд_решение_[название компании]_[номер ИНН]</h4><ul></ul></div>
            <div id="more-url">
            <h3>Упоминания в интернете</h3>
              <ul>
                
              </ul>
            </div>
          </div>
        </div>
</div>
